:root {
  /* CSS HEX */
  /* https://coolors.co/palette/227c9d-17c3b2-ffcb77-fef9ef-fe6d73 */
  --cerulean: #227c9dff;
  --light-sea-green: #17c3b2ff;
  --sunset: #ffcb77ff;
  --floral-white: #fef9efff;
  --light-red: #fe6d73ff;
}

body {
  margin: 0;
  background: var(--floral-white);
  font-family: 'Source Code Pro', monospace;
}
.layout__content {
  padding: 20px 30px;
  min-height: 100vh;
}
.header {
  display: flex;
  margin: 20px 30px;
}
.header__link {
  margin-right: 20px;
}
.home__content {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
}
.home__left {
  width: 50%;
  padding: 40px 20px;
  justify-content: center;
  align-items: center;;
  display: flex;
}
.home__right {
  width: 50%;
  padding: 40px 20px;
}
.home__avatar {
  width: 200px;
  border-radius: 50%;
};
.home__title {
  color: red;
}
.home__top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  marign-bottom: 40px;
}
.home__title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}
.home__textSection h3 {
  cursor: pointer;
}
.footer__links {
  display: flex;
  padding: 20px 40px;
  align-items: center;
  justify-content: center;;
}
.footer__linkItem {
  margin-right: 20px;
}
.footer__content {
  display: flex;
  justify-content: center;
  margin: 20px 40px;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.links__list {
  margin: 40px;
}
.links__item {
  margin: 20px;
}