
:root {
  /* CSS HEX */
  /* https://coolors.co/palette/227c9d-17c3b2-ffcb77-fef9ef-fe6d73 */
  --cerulean: #227c9dff;
  --light-sea-green: #17c3b2ff;
  --sunset: #ffcb77ff;
  --floral-white: #fef9efff;
  --light-red: #fe6d73ff;
  --text-white: white;
}

body {
  margin: 0;
  background: var(--floral-white)!important;
  font-family: 'Source Code Pro', monospace!important;
}
h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.layout__content {
  padding: 20px 30px;
  min-height: 100vh;
}
.header {
  display: flex;
  margin: 20px 30px;
}
.header__link {
  margin-right: 20px;
}
.home__content {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
}
.home__textSection {
  margin-bottom: 18px;
}
.home__left {
  width: 50%;
  padding: 40px 20px;
  justify-content: center;
  align-items: center;;
  display: flex;
}
.home__right {
  width: 50%;
  padding: 40px 20px;
}
.home__avatar {
  width: 200px;
  border-radius: 50%;
}

.home__top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
  height: 100vh;
  max-height: 900px;
  color: var(--text-white);

  background: url("/images/coding.gif") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
svg {
  display: inline;
}
.home__title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}
.home__textSection h3 {
  cursor: pointer;
}
.footer__links {
  display: flex;
  padding: 20px 40px;
  align-items: center;
  justify-content: center;;
}
.footer__linkItem {
  margin-right: 20px;
}
.footer__content {
  display: flex;
  justify-content: center;
  margin: 20px 40px;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.links__list {
  margin: 40px;
}
.links__item {
  margin: 20px;
}
.content__container {
  padding: 30px 60px;
}
@media (max-width: 780px) {
  .home__content {
    flex-direction: column;
  }
  .home__left {
    width: 100%;
  }
  .home__right {
    width: 100%;
  }
}
.blog_post__content img {
  margin-bottom: 30px;
  margin-top: 30px;
}
.blog_post__content p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.blog_post__content a {
  text-decoration: underline;
  color: rgb(0, 0, 116);
}
.blog_post__content h3 {
  font-size: 22px;
  font-weight: 700;
}
pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}