.blog {
    padding: 50px 0 0;
}
.blog .page-header {
    text-align: center;
}
.blog,
.blog p {
    font-family: Open Sans;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 400;
}
.blog_text,
    .blog_text a:active,
    .blog_text a:hover,
    .blog_text a:link,
    .blog_text a:visited {
        text-decoration: underline;
        color: #337ab7;
}

.img-w-med {
    max-width: 300px;
}

.blog_links a {
    color: #337ab7 !important;
}

.blog_links {
    padding: 40px 0;
}
.blog_text {
    font-family: Open Sans;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 400;
    max-width: 800px;
    margin: 0 auto;
}
.blog__date {
    margin-bottom: 50px;
}
.jumbotron_image__blog-header {
    background: url(../../images/blog_matrix.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 200px;
    padding-bottom: 50px;
}
.jumbotron_image__redux-saga {
    height: 200px;
    width: 100%;
    padding-top: 50px;
}
.jumbotron_image__redux-saga img {
    margin: 0 auto;
    display: block;
    width: 600px;
    height: auto;
}
.jumbotron_image__logo {
    height: auto;
    width: 100%;
    padding-top: 50px;
    margin-bottom: 30px;
}
.jumbotron_image__logo img {
    margin: 0 auto;
    display: block;
    width: 600px;
    height: auto;
}
.float_right {
    float: right;
}
.plain_link {
    color: #337ab7 !important;
    cursor: pointer;
}

.plain_link:hover {
    text-decoration: underline;
}

.center-image {
    margin: 20px auto;
}
.caption-center {
    text-align: center;
    margin-top: -16px;
    font-size: 14px;
}
.horizontal-space-md {
    width: 100%;
    height: 60px;
    padding: 2px;
}
.card-body {
    margin-bottom: 50px;
}
.blog__image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
    margin-bottom: 26px;
}
.blog__image img {
    width: 600px;
    border-radius: 8px;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .blog__image img {
        width: 80%;
    }
    .horizontal-space-md {
        height: 30px;
    }
}