.mainSlider__inner_wrapper {
    color: white;
}

.mainSlider__inner_wrapper h1 {
    font-size: 80px;
    margin-top: 14vh;
    color: white;
}

.mainSlider__inner_wrapper h2 {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
.mainSlider__inner_wrapper h5 {
    font-family: 'Josefin Sans', sans-serif;
}
.section-1 {
    height: 100vh !important;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    position: relative;
}

html,
body {
    position: relative;
    height: 100%;
}

/* // Main Slider */
.swiper-pagination-bullet-active {
    background: #eee;
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border-radius: 50px;
}
.swiper-container--main {
    width: 100%;
    height: 100%;
}
.swiper-slide--main {
    text-align: center;
    font-size: 18px;
    background: #ffffff;
}
.swiper-slide--main a {
    color: white;
    text-decoration: underline;
}

.swiper-button-next--main {
    background: none;
    font-size: 50px;
    color: white;
    font-family: fontello;
}

.swiper-button-next--main:before {
    content: '\e800';
    display: block;
}
.swiper-button-next--main:hover {
    color: rgb(226, 226, 226);
}
.swiper-button-prev--main {
    background: none;
    font-size: 50px;
    color: white;
    font-family: fontello;
}
.swiper-button-prev--main:before {
    content: '\e801';
    display: block;
}
.swiper-button-prev--main:hover {
    color: rgb(226, 226, 226);
}
.swiper-slide--main:nth-child(1) {
    /* // background: url(../images/mainSlider1.JPG) center center no-repeat; */
    background: url(../../images/coding.gif) center center no-repeat;
    background-size: cover;
}
.swiper-slide--main:nth-child(1) .mainSlider__inner_wrapper {
    text-align: center;
    margin: 0 auto;
}
.swiper-slide--main:nth-child(2) {
    background: url(../images/mainSlider2.JPG) center center no-repeat;
    background-size: cover;
}
.swiper-slide--main:nth-child(3) {
    background: url(../images/mainSlider3.JPG) center center no-repeat;
    background-size: cover;
    background-position-y: 57%;
}

.swiper-slide {
    align-items: normal;
    justify-content: initial;
}

.mainSlider__list {
    padding: 30px 20px;
    background-color: var(--gray-bg);
    overflow: scroll;
    height: 300px;
    margin: 20px auto 0;
    display: block;
}
.mainSlider__list h3 {
    font-size: 18px;
}

.mainSlider__list ul li {
    text-align: left;
}
.mainSlider__list a {
    color: #000000;
    font-size: 13px;
    font-family: Josefin Sans, sans-serif;
}

/* // Curved Line */
.hero__container {
    position: relative;
}
.curvedLine__wrapper {
    height: 106px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -34px;
    z-index: 1000;
}
.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 75px;
}

@media only screen and (max-width: 768px) {
    .curvedLine__wrapper {
        display: none;
    }
    .mainSlider__inner_wrapper h1 {
        font-size: 30px;
    }
    .mainSlider__inner_wrapper h2 {
        font-size: 20px;
    }
    .mainSlider__inner_wrapper h5 {
        font-size: 12px;
    }
    .swiper-slide--main:nth-child(1) {
        margin: 0px 30px 0px;
        width: 100%;
    }
    .swiper-slide--main:nth-child(1) h2 {
        font-size: 20px;
        margin-top: 0px;
    }
    .swiper-slide--main:nth-child(1) .mainSlider__inner_wrapper {
        margin: 0px 30px 0px;
        width: 100%;
    }
    .swiper-slide--main:nth-child(1) .mainSlider__inner_wrapper h2 {
        font-size: 20px;
        margin-top: 0px;
    }
    .swiper-slide--main:nth-child(2) .mainSlider__inner_wrapper {
        margin: 100px 30px 0;
        width: 100%;
    }
    .swiper-slide--main:nth-child(3) .mainSlider__inner_wrapper {
        margin: 100px 30px 0;
        width: 100%;
    }
}


