{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/pages/heatmap.css' %}">
<!-- Content Section -->
<section class="dataviz">
  <div class="dataviz__container">
    <div class="heading">
      <h1 id="title">Monthly Global Land-Surface Temperature</h1>
      <h3 class="description" id="description"><span id="startYear"></span> - <span id="endYear"></span>: base temperature <span id="baseTemp"></span>℃</h3>
      <hr>
    </div>
    <div class="data">
    <div id="svg_container" class="svg_container"></div>
    </div>
  </div>
</section>
<script type="text/javascript" src="{% static 'js/pages/heatmap.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.7.0/d3.min.js"></script>
{%endblock%}