{% extends "base.html" %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.min.js" integrity="sha512-N4kV7GkNv7QR7RX9YF/olywyIgIwNvfEe2nZtfyj73HdjCUkAfOBDbcuJ/cTaN04JKRnw1YG1wnUyNKMsNgg3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Content Section -->
<section class="devlog">
  <div class="jumbotron_image__devlog-header">
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10  col-sm-offset-1">
        <div class="page-header">
          <h1>code bits</h1>
        </div>
        <div class="devlog__description">
          These are small, self contained pieces of code, such as generative art, algorithms, and other similar bits
        </div>
        <div class="devlog_text">
          <section class="devlog_links">

            <div class="well well-lg">
              <div class="card">
                <h2>Generative Art 0004</h2>
                <h3>09/01/2021</h3>
                <p class="codepen" data-height="600" data-default-tab="result" data-slug-hash="GREZOmW" data-user="konradgnat" style="height: 600px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                  <span>See the Pen <a href="https://codepen.io/konradgnat/pen/GREZOmW">
                  dailycoding_0004</a> by Konrad Gnat (<a href="https://codepen.io/konradgnat">@konradgnat</a>)
                  on <a href="https://codepen.io">CodePen</a>.</span>
                </p>
              </div>
            </div>
            <div class="well well-lg">
              <div class="card">
                <h2>Generative Art 0003</h2>
                <h3>08/31/2021</h3>
                <p class="codepen" data-height="600" data-default-tab="result" data-slug-hash="yLXeWKp" data-user="konradgnat" style="height: 600px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                  <span>See the Pen <a href="https://codepen.io/konradgnat/pen/yLXeWKp">
                  dailycoding_0003</a> by Konrad Gnat (<a href="https://codepen.io/konradgnat">@konradgnat</a>)
                  on <a href="https://codepen.io">CodePen</a>.</span>
                </p>
              </div>
            </div>
            <div class="well well-lg">
              <div class="card">
                <h2>Generative Art 0002</h2>
                <h3>08/30/2021</h3>
                <p class="codepen" data-height="600" data-default-tab="js,result" data-slug-hash="rNwxpoz" data-user="konradgnat" style="height: 600px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                  <span>See the Pen <a href="https://codepen.io/konradgnat/pen/rNwxpoz">
                  dailycoding_0002</a> by Konrad Gnat (<a href="https://codepen.io/konradgnat">@konradgnat</a>)
                  on <a href="https://codepen.io">CodePen</a>.</span>
                </p>
              </div>
            </div>
            <div class="well well-lg">
              <div class="card">
                <h2>Generative Art 0001</h2>
                <h3>08/29/2021</h3>
                <p class="codepen" data-height="600" data-default-tab="js,result" data-slug-hash="JjJYeRX" data-user="konradgnat" style="height: 600px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                  <span>See the Pen <a href="https://codepen.io/konradgnat/pen/JjJYeRX">
                  dailycoding_0001</a> by Konrad Gnat (<a href="https://codepen.io/konradgnat">@konradgnat</a>)
                  on <a href="https://codepen.io">CodePen</a>.</span>
                </p>
                <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock%}