{% extends "base.html" %}
{% block content %}

<!-- Content Section -->
<section class="devlog">
  <div class="jumbotron_image__devlog-header">
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-header">
          <h1>dev log</h1>
        </div>
        <div class="devlog_text">
          <section class="devlog_links">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="well well-lg">
                    {% load markdownify %}
                    {{ markdowntext|markdownify }}
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock%}