{% extends "base.html" %}
{% block content %}

<!-- Content Section -->
<section class="devlog">
  <div class="jumbotron_image__devlog-header">
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6  col-sm-offset-3">
        <div class="page-header">
          <h1>dev log</h1>
        </div>
        <div class="devlog__description">
        </div>
        <div class="devlog_text">
          <section class="devlog_links">
            <div class="well well-lg">
              <a href="{% url 'azure_ai' %}">Azure AI Hackathon 2021</a>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock%}