{% extends "base.html" %}
{% block content %}
{% load static %}

<!-- Main Swiper -->
<div class="swiper-container swiper-container--main section-1" id="mainSlider">
  <div class="swiper-wrapper swiper-wrapper--main">
    <div class="swiper-slide swiper-slide--main">
      <div class="mainSlider__inner_wrapper">
        <h1>Konrad Gnat</h1>
        <h2>Software Engineer</h2>
      </div>
    </div>
    <!-- <div class="swiper-slide swiper-slide--main">
      <div class="mainSlider__inner_wrapper">
        <p>"<span id="quote" class="modal__quote"></span>"</p>
        <span id="author" class="modal__author"></span>
        <br />
        <div class="quote__buttons">
          <span id="newQuote" class="modal__new_quote">another quote</span>
          <span id="copyQuoteToClipboard" class="modal__copy_quote">copy to clipboard</span>
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide--main">
      <div class="mainSlider__inner_wrapper">
        <h2>Tech: JavaScript, React, Unity, Swift, Python</h2>
      </div>
    </div> -->
  </div>
  <!-- Add Pagination -->
  <!-- <div class="swiper-pagination "></div> -->
  <!-- Add Arrows -->
  <!-- <div style="display:none;" class="swiper-button-next swiper-button-next--main"></div>
  <div style="display:none;" class="swiper-button-prev swiper-button-prev--main"></div> -->
</div>
<!-- Curved line -->
<div class="curvedLine__wrapper">
  <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
    <path d="M0.00,49.98 C173.53,171.20 363.71,-73.52 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
      style="stroke: none; fill: #e5e9eb;">
    </path>
  </svg>
</div>
<!-- Projects -->
<section id="projects">
  <div class="container-fluid">
    <div class="row titles">
      <div class="col-xs-12">
        <h2 id="projects-title">Projects</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="tags__filter_section">
          <h3>Tags:</h3>
          <div class="tags__options">
            <div class="tags__clear_all">Hide All</div>
            <div class="tags__select_all">Show All</div>
          </div>
          <div class="tags__wrapper">
            {% for tag in projectTags %}
            <div class="project__tag" data-tag="{{ tag }}">
              {{ tag }}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-wrapper">
    <ul>

      {% for project in projects %}

        <li class="portfolio-item" onclick="" data-all-tags="{{ project.allTagSlugs }}">
          <div class="imgWrap">
            <div class="imgDescription">
              <h2>{{ project.title }}</h2>
              <p>{{ project.preview }}</p> </br>
              <p>
                {% if project.live_link %}
                  <a target="_blank" href="{{ project.live_link }}" class="button">Live Site</a>
                {% endif %}
                {% if project.live_link and project.github_link %}
                   | 
                {% endif %}
                {% if project.github_link %}
                <a target="_blank" href="{{ project.github_link }}" class="button">GitHub</a>
                {% endif %}
              </p>
                  <div class="project__tags">
                    {% for tag in project.tags.names %}
                      <div class="project__tag"  data-project-tag="{{ tag }}">
                        {{ tag }}
                      </div>
                    {% endfor %}
                  </div>
            </div>
          </div>
          <img src="/static/images/projects/{{ project.image_url1 }}" alt=""
            class="img-responsive portfolio__item_image">
        </li>

      {% endfor %}

    </ul>
  </div>
  <div class="additional-projects-conatiner">
    <h3>Client Projects</h3>
    <p>Corporate Kneads:
      <a class="link--blue" href="https://corporatekneads.com/">live site</a>
    </p>
  </div>
  <div class="additional-projects-conatiner">
    <h3>More Projects</h3>
    <p> Alexa Skill - 'Martha Gellhorn Quotes'
      <a class="link--blue"
        href="https://www.amazon.com/dp/B07B2Q8ZH7/ref=sr_1_1?s=digital-skills&ie=UTF8&qid=1519877246&sr=1-1&keywords=martha+gellhorn">link
        to
        skill on Amazon</a>
      |
      <a class="link--blue" href="https://github.com/kon-rad/MarthaGellhornQuotes-AlexaSkill">github</a>
    </p>
    <p>Scripturally Sound: Code for the Kingdom 2017 Hackathon, Nashville
      <a class="link--blue" href="https://github.com/kon-rad/c4tk">github</a>
    </p>
    <p>Spaceship Shootout: Mad Hacks 2017 Hackathon Project, University of Wisconsin-Madison
      <a class="link--blue" href="https://github.com/kon-rad/spaceships-madhacks-2017">github</a>
    </p>
    <p>Live Sports 360 VR App: Developer Week 2017 Hackathon, San Francisco - Winner Best Video Streaming App
      <a class="link--blue" href="https://github.com/kon-rad/developerWeekHackathon2017">github</a>
    </p>
    <p>FireMixtapeMd: Uncommon Hacks 2017 Hackathon, University of Chicago
      <a class="link--blue" href="https://github.com/kon-rad/uncommonHackathon">github</a>
    </p>
  </div>
</section>
<!-- About -->
<section>
  <div class="container-fluid">
    <div class="row cont" id="about">
      <div class="col-xs-12 titles">
        <h2> About </h2>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row cont section-2">

      <div class="col-xs-12 col-md-8 col-md-offset-2 displayBox">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="about__image_wrapper">
              <img class="about__image" src="{% static 'images/home/man_and_machine.JPG' %}" alt="">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 textBox textContent">
            <p class="textContent">
              My mission is to build apps that push humanity forward.
            </p>
            <p>
              I am
              driven by a passion for learning and the quest to create
              the most value for humanity by building things at the intersection of
              art and technology.

            </p>
            <p>Among my greatest intellectual
              hero's are Buckminster Fuller, John Muir,
              Leonardo Da Vinci, John
              Steinbeck
              and Kahlil Gibran. On any given day I can be found either coding applications or learning about some new technology. When not coding, I enjoy reading, running and zen meditation.
            </p>
            </br></br>
            <div>
              <span class="uppercase">Languages</span><br>
              JavaScript, Python, PHP, SQL, Java, Swift, C#, C
            </div>
            <br>
            <span class="uppercase">Frameworks</span><br>
            React, Redux, Django, Symfony
            <br>
            <br>
            <span class="uppercase">Technologies</span><br>
            Git, MySQL, MongoDB, Linux, Unity VR Game Development, iOS development, Blender
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}