{% extends "base.html" %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.min.js" integrity="sha512-N4kV7GkNv7QR7RX9YF/olywyIgIwNvfEe2nZtfyj73HdjCUkAfOBDbcuJ/cTaN04JKRnw1YG1wnUyNKMsNgg3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Content Section -->
<section class="devlog">
  <div class="jumbotron_image__devlog-header">
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10  col-sm-offset-1">
        <div class="page-header">
          <h1>now</h1>
        </div>
        <div class="devlog__description">
          short updates on what I'm currently up to
        </div>
        <div class="devlog_text">
          <section class="devlog_links">
            {% for item in now_list %}
            <div class="card mb-4">
              <div class="card-body">
                <h2 class="card-title">{{ item.title }}</h2>
                <p class="card-text text-muted h6 blog__date">{{ item.now_date|date:'m-d-Y' }} </p>
                <ul>
                  {% for now_item in now_list %}
                    <li>{{ now_item }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% endfor %}
            <div class="well well-lg">
              <div class="card">
                <h2>Berlin</h2>
                <h3>11/11/2021</h3>
                <ul>
                  <li>Working on a social media NFT marketplace app</li>
                  <li>completed Unicode Hackathon</li>
                  <li>Working on a meditation iOS app</li>
                  <li>Coursera Nand2Tetris part II</li>
                </ul>
              </div>
            </div>
              <div class="card">
                <h2>Lisbon</h2>
                <h3>10/20/2021</h3>
                <ul>
                  <li>EthLisbon Hackathon</li>
                  <li>working on an iOS meditation app startup</li>
                  <li>hacking on a new generative art nft drop</li>
                  <li>Coursera Nand2Tetris part II</li>
                  <li>Journaling about my travels</li>
                  <li>planning walking el Camino de Santiago Pilgrimage</li>
                  <li>Blockchain startup - still in research and ideation phase</li>
                </ul>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock%}